/* Global */


*, *::before, *::after {
	box-sizing: border-box;
}

body {
    margin: 0;
    text-align: center;
    font-size: 16px;
    line-height: 1.4;
    font-family: 'Cabin', Sans-Serif;
}

section {
    padding-top: 5px;
    padding-bottom: 5 px;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 20px;
    font-family: 'Roboto Condensed', Sans-Serif;
}
